<!DOCTYPE html>
<html>
<head>
  <title>TermProject</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/about.js?body=1" type="text/javascript"></script>
<script src="/assets/course.js?body=1" type="text/javascript"></script>
<script src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="8qhZoTWfq3phMoEGPFyuk+qwltgWbk9rCEdy8AHuWbE=" name="csrf-token" />
</head>
<body>
<%= render "layouts/menu" %>
<h1 class='h1 centerino'>About</h1>
<h2 class='centerino'>รายชื่อ</h2>
<table class='pure-table nametable centerino' id='movies'>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Student ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>นางสาว บัณฑิตา</td>
      <td>อวยชัยเจริญ</td>
      <td>5510613234</td>
    </tr>
    <tr>
      <td>นางสาว วรินทร</td>
      <td>เขมชัยวิพุธ</td>
      <td>5510613259</td>
    </tr>
    <tr>
      <td>นางสาว รุจิรางค์</td>
      <td>ไวยดารา</td>
      <td>5510613275</td>
    </tr>
    <tr>
      <td>นางสาว ชมพูนิกข์</td>
      <td>ประการแก้ว</td>
      <td>5510613325</td>
    </tr>
    <tr>
      <td>นางสาว ณัฐณิชา</td>
      <td>เหลืองอ่อน</td>
      <td>5510613424</td>
    </tr>
    <tr>
      <td>นาย อานันท์</td>
      <td>ศุภวิไล</td>
      <td>5510613317</td>
    </tr>
  </tbody>
</table>
<br>
<h2>Requirement</h2>
<div class='listAbox centerino'>
<img alt="require" src="/assets/requirement.jpg" style="width: 10%;max-height: 65%;"/>
</div>
<br>
<h2>ER Diagram</h2>
<img alt="Er-1" src="/assets/ER.jpg" style="width: 65%;max-height: 90%;"/>
<h2>User Stories</h2>
<img alt="feature" src="/assets/feature.jpg" style="width: 30%;max-height: 65%;"/>
</div>
<br>
<a href="https://www.pivotaltracker.com/n/projects/1311462">Pivotal Tracker</a><br>
<a href="https://github.com/zense10827/term-project.git">Github</a><br>
<a href="https://drive.google.com/folderview?id=0By3iYcddJVkIflFLZVRLRmhodWFYOS1OdXo5aFdMbnk5azB5SW5yS0VSeVpmMml4N0hPSmc&usp=sharing">Mockup + Stories</a>
</body>
</html>
